{:deps
 {org.clojure/clojure {:mvn/version "1.12.5"}}
 :aliases
 {:dev
  {:extra-paths ["dev" "test"]
   :extra-deps
   {io.github.tonsky/clojure-plus {:mvn/version "1.7.2"}
    io.github.tonsky/clj-reload   {:mvn/version "1.0.0"}
    criterium/criterium           {:mvn/version "0.4.6"}
    com.cnuernber/charred         {:mvn/version "1.039"}
    metosin/jsonista              {:mvn/version "1.0.0"}
    cheshire/cheshire             {:mvn/version "6.2.0"}
    org.clojure/tools.reader      {:mvn/version "1.6.0"}
    com.cognitect/transit-clj     {:mvn/version "1.1.357"}
    virgil/virgil                 {:mvn/version "0.5.1"}
    org.clojure/test.generative   {:mvn/version "1.1.1"}
    org.clojure/data.generators   {:mvn/version "1.1.1"}}
   :jvm-opts ["-Dclojure.main.report=stderr"
              "-Duser.language=en"
              "-Duser.country=US"
              "-Dfile.encoding=UTF-8"
              "-Djdk.attach.allowAttachSelf"
              "-XX:+UnlockDiagnosticVMOptions"
              "-XX:+DebugNonSafepoints"
              "-XX:+EnableDynamicAgentLoading"
              #_"-XX:+UnlockDiagnosticVMOptions"
              #_"-XX:+LogCompilation"]}}}
