{:deps
 {org.clojure/clojure {:mvn/version "1.12.0"}}
 :aliases
 {:dev
  {:extra-paths ["dev" "test"]
   :extra-deps 
   {io.github.tonsky/duti    {:git/sha "963dd200a45d8730a31a20a3cd1616341a1acccd"}
    com.cnuernber/charred    {:mvn/version "1.034"}
    metosin/jsonista         {:mvn/version "0.3.12"}
    cheshire/cheshire        {:mvn/version "5.13.0"}
    org.clojure/tools.reader {:mvn/version "1.5.0"}
    virgil/virgil            {:mvn/version "0.3.0"}}
   :jvm-opts ["-Dclojure.main.report=stderr"
              "-Duser.language=en"
              "-Duser.country=US"
              "-Dfile.encoding=UTF-8"
              "-Djdk.attach.allowAttachSelf"
              "-XX:+UnlockDiagnosticVMOptions"
              "-XX:+DebugNonSafepoints"
              "-XX:+EnableDynamicAgentLoading"]}}}
